@import 'tailwindcss';

@theme {
  --font-display: "Pretendard", "system-ui", "sans-serif";
  --font-sans: "Pretendard", "system-ui", "sans-serif";
  --breakpoint-3xl: 1920px;

  --color-background: oklch(20.12% 0.0218 251.84);
  --color-foreground: oklch(100% 0 0);

  --color-primary: oklch(64.6% 0.1423 253.92);
  --color-primary_variant: oklch(52.55% 0.0912 246.3);
  --color-secondary: oklch(76.34% 0.1297 189.1);
  --color-secondary_variant: oklch(54.36% 0.0766 189.33);
  --color-surface: oklch(28.05% 0.0308 252.71);
  --color-error: oklch(67.46% 0.1915 23.44);

  --color-gray-10: oklch(21.32% 0.0042 264.48);
  --color-gray-20: oklch(31.99% 0.0045 247.97);
  --color-gray-30: oklch(41.52% 0.0077 255.53);
  --color-gray-40: oklch(50.81% 0.0081 247.99);
  --color-gray-50: oklch(59.42% 0.0109 252.87);
  --color-gray-60: oklch(68.09% 0.0075 247.94);
  --color-gray-70: oklch(76.24% 0.0066 255.49);
  --color-gray-80: oklch(84.42% 0.0035 247.87);
  --color-gray-90: oklch(92.17% 0.0029 264.54);
  --color-gray-95: oklch(96.14% 0.0013 286.38);
  --color-gray-99: oklch(99.13% 0.0013 286.38);

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: "Pretendard", "system-ui", "sans-serif";
  }
}


thead {
  top: 0;
  position: sticky;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .m-center {
    @apply mx-auto my-0;
  }

  .header_active {
    @apply before:block before:bg-white before:w-2 before:h-2 before:rounded-full before:absolute before:top-0 before:left-[50%] before:transform before:-translate-x-1;
  }
}

details>summary {
  list-style: none;
}

details>summary::marker,
/* Latest Chrome, Edge, Firefox */
details>summary::-webkit-details-marker

/* Safari */
  {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-out-spin-button {
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
}