@theme {
  --color-primary: #4a90e2;
  --color-primary_variant: #3a6f9c;
  --color-secondary: #16ccc3;
  --color-secondary_variant: #2f7f79;
  --color-background: #0f1720;
  --color-surface: #1e2a38;
  --color-error: #ff7b7c;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-background: #ffffff;
  --color-on-surface: #e3eaf5;
  --color-on-error: #000000;
  --color-gray-10: #18191b;
  --color-gray-20: #313335;
  --color-gray-30: #494c50;
  --color-gray-40: #62666a;
  --color-gray-50: #7a7f85;
  --color-gray-60: #95999d;
  --color-gray-70: #afb2b6;
  --color-gray-80: #caccce;
  --color-gray-90: #e4e5e7;
  --color-gray-95: #f2f2f3;
  --color-gray-99: #fcfcfd;
  --color-overlay-00dp: #0f1720;
  --color-overlay-01dp: #1b232b;
  --color-overlay-02dp: #202730;
  --color-overlay-03dp: #222a32;
  --color-overlay-04dp: #252c34;
  --color-overlay-06dp: #293139;
  --color-overlay-08dp: #2c333b;
  --color-overlay-12dp: #31373f;
  --color-overlay-16dp: #333a41;
  --color-overlay-24dp: #353c44;
  --z-base: 0;
  --z-below: -1;
  --z-header: 100;
  --z-dropdown: 200;
  --z-modalBackdrop: 300;
  --z-modal: 400;
  --z-toast: 500;
  --z-tooltip: 600;
  --text-h1: 28px;
  --leading-h1: 140%;
  --font-weight-h1: 700;
  --text-h2: 24px;
  --leading-h2: 140%;
  --font-weight-h2: 700;
  --text-title1: 20px;
  --leading-title1: 140%;
  --font-weight-title1: 600;
  --text-title2: 18px;
  --leading-title2: 140%;
  --font-weight-title2: 600;
  --text-title3: 16px;
  --leading-title3: 140%;
  --font-weight-title3: 500;
  --text-body: 14px;
  --leading-body: 140%;
  --font-weight-body: 400;
  --text-footnote: 12px;
  --leading-footnote: 140%;
  --font-weight-footnote: 400;
}
