@theme {
--color-primary: #4A90E2;
--color-primary_variant: #4A90E2;
--color-secondary: #2F7E79;
--color-secondary_variant: #2F7F79;
--color-background: #0F1720;
--color-surface: #1E2A38;
--color-error: #F65A5B;
--color-on-primary: #FFFFFF;
--color-on-secondary: #FFFFFF;
--color-on-background: #FFFFFF;
--color-on-surface: #E3EAF5;
--color-on-error: #000000;
--color-gray-10: #18191B;
--color-gray-20: #313335;
--color-gray-30: #494C50;
--color-gray-40: #62666A;
--color-gray-50: #7A7F85;
--color-gray-60: #95999D;
--color-gray-70: #AFB2B6;
--color-gray-80: #CACCCE;
--color-gray-90: #E4E5E7;
--color-gray-95: #F2F2F3;
--color-gray-99: #FCFCFD;
--color-overlay-00dp: #0F1720;
--color-overlay-01dp: #1B232B;
--color-overlay-02dp: #202730;
--color-overlay-03dp: #222A32;
--color-overlay-04dp: #252C34;
--color-overlay-06dp: #293139;
--color-overlay-08dp: #2C333B;
--color-overlay-12dp: #31373F;
--color-overlay-16dp: #333A41;
--color-overlay-24dp: #353C44;
--z-base: 0;
--z-below: -1;
--z-header: 100;
--z-dropdown: 200;
--z-modalBackdrop: 300;
--z-modal: 400;
--z-toast: 500;
--z-tooltip: 600;
--text-h1: 28px;
--leading-h1: 140%;
--font-weight-h1: 700;
--text-h2: 24px;
--leading-h2: 140%;
--font-weight-h2: 700;
--text-title1: 20px;
--leading-title1: 140%;
--font-weight-title1: 600;
--text-title2: 18px;
--leading-title2: 140%;
--font-weight-title2: 600;
--text-title3: 16px;
--leading-title3: 140%;
--font-weight-title3: 500;
--text-body: 14px;
--leading-body: 140%;
--font-weight-body: 400;
--text-footnote: 12px;
--leading-footnote: 140%;
--font-weight-footnote: 400;
}